
body{
    text-align: center;
}

.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #000000;
}
 
.navbar a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}
 
.dropdown {
    overflow: hidden;
}
 
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
 
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
 
.dropdown-content {
    display: none;
    position:fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 46px;
    left: 20;
}
 
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
 
.dropdown-content a:hover {
    background-color: #ddd;
}
 
.dropdown:hover .dropdown-content {
    display: block;
}
 
.container{
    padding: 14px 16px;
    font: 16px;
    -webkit-text-fill-color: black;
}
 
.container:hover{
    background-color: #ddd;
}



.boxtekst{
    margin: auto;
}

.toppbilde{
    background-image:url(bilder/ultra\ nert\ copy.JPG);
    background-size: cover;
    color: #ffffff;
    text-align: center;
}

.infobox1 {
    background-color: #ffffff;
    background-size: cover;
    
}
.infobox2 {
    background-color: #e7afaf;
}


.infoposition1{
    position: absolute;
    padding-left: 30px;
    
}

.button1 {
    background-color: #ffffff; /* Green */
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1:hover{
    transition: 1.0s;
    background-color: hsl(226, 77%, 64%);
    
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;

    
}
  
.slide {
    display: none;
}
  
.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}
  
@keyframes fade {
    from {opacity: 0.3}
    to {opacity: 4}
}
  



