
body{
    text-align: center;
    color: #000000;
}
/*hved navigasjons bar sin styling ligger under her*/
.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #000000;
}
 
.navbar a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}
/*dropdown button sin styling ligger under her*/

.dropdown {
    overflow: hidden;
}
 
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
 
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
 
.dropdown-content {
    display: none;
    position:fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 46px;
    left: 20;
}
 
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
 
.dropdown-content a:hover {
    background-color: #ddd;
}
 
.dropdown:hover .dropdown-content {
    display: block;
}
 
.container{
    padding: 14px 16px;
    font: 16px;
    -webkit-text-fill-color: black;
}
 
.container:hover{
    background-color: #ddd;
}

/*felles styling til sidene ligger her*/


.round-img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
}



/*felles linker*/
.sirkel-1{/*grønn farge til en av sirklene */
    height: 150px;
    width: 150px;
    background-color: #83de8f;
    border-radius: 50%;
    display: inline-block;
}

.sirkel-2{
    height: 150px;
    width: 150px;
    background-color: #a79df5;
    border-radius: 50%;
    display: inline-block;
}
.sirkel-3{
    height: 150px;
    width: 150px;
    background-color: #e49696;
    border-radius: 50%;
    display: inline-block;
}
.sirkel-tekst{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000000;
    /*forandre på størelse */
    position: relative;
    top: 41%;
    transform: translateY(-50%);
}


/*styling til meg.html ligger under her*/
.meg-side{
    text-align: left;
}
.meg-top{
    display: flex;
    width: 80%;
    padding: 20px;
    margin-top: 90px;
    margin-left: 10%;
    border-radius: 20px;
}
.meg-toptekst{
    padding-left: 20px;
}



.meg-utdanning{
    background-color: #1bdd35;
    width: 80%;
    padding: 20px;
    margin-top: 90px;
    margin-left: 10%;
    border-radius: 20px;
    
}





/*styling av tekst ligger under her*/
.bold-topp{
    font-family: serif;
    font-size: 60px;
}
.bold-under{
    font-weight: bold;
}











.boxtekst{
    margin: auto;
}

.toppbilde{
    background-image:url(bilder/ultra\ nert\ copy.JPG);
    background-size: cover;
    color: #ffffff;
    text-align: center;
}

.infobox1 {
    background-color: #ffffff;
    background-size: cover;
    
}
.infobox2 {
    background-color: #e7afaf;
}


.infoposition1{
    position: absolute;
    padding-left: 30px;
    
}

.button1 {
    background-color: #ffffff; /* Green */
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1:hover{
    transition: 1.0s;
    background-color: hsl(226, 77%, 64%);
    
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;

    
}
  
.slide {
    display: none;
}
  
.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}
  
@keyframes fade {
    from {opacity: 0.3}
    to {opacity: 4}
}
  



