
body{
    text-align: center; 
    color: #000;
}
/*hved navigasjons bar sin styling ligger under her*/
.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #000000;
}
 
.navbar a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}
/*dropdown button sin styling ligger under her*/

.dropdown {
    overflow: hidden;
}
 
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
 
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}
 
.dropdown-content {
    display: none;
    position:fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 46px;
    left: 20;
}
 
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
 
.dropdown-content a:hover {
    background-color: #ddd;
}
 
.dropdown:hover .dropdown-content {
    display: block;
}
 
.container{
    padding: 14px 16px;
    font: 16px;
    -webkit-text-fill-color: black;
}
 
.container:hover{
    background-color: #ddd;
}

/*felles styling til sidene ligger her*/


.round-img{
    height: 500px;
    width: 500px;
    border-radius: 50%;
}



/*felles linker*/
.sirkel-1{/*grønn farge til en av sirklene */
    height: 150px;
    width: 150px;
    background-color: #83de8f;
    border-radius: 50%;
    display: inline-block;
}

.sirkel-2{
    height: 150px;
    width: 150px;
    background-color: #a79df5;
    border-radius: 50%;
    display: inline-block;
}
.sirkel-3{
    height: 150px;
    width: 150px;
    background-color: #e49696;
    border-radius: 50%;
    display: inline-block;
}
.sirkel-tekst{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #000000;
    /*forandre på størelse */
    position: relative;
    top: 41%;
    transform: translateY(-50%);
}


/*styling til meg.html ligger under her*/
.meg-side{
    text-align: left;
}
.meg-top{
    display: flex;
    width: 80%;
    padding: 20px;
    margin-top: 90px;
    margin-left: 10%;
    border-radius: 20px;
}
.meg-toptekst{
    padding-left: 20px;
}

.meg-utdanning{/*dette er stylingen for stats */
    background-color: #41f659;
    background-image: url();
    width: 80%;
    padding: 20px;
    margin-top: 90px;
    margin-left: 10%;
    border-radius: 20px;
}

/*Prosjekter.html sin stayling ligger under her*/
.prosjekt-side{
    text-align: center;
    background-color: #ddd;
}
.prosjekt-top{
    background-color: #ffffff;
    width: 80%;
    padding: 20px;
    margin-top: 90px;
    margin-left: 10%;
    border-radius: 20px;
    text-align: left;
}
.prosjekt-top-heifiltere{
    display: flex;
}
.prosjekt-top-filtere{
    padding-left: 300px;
}
.prosjekt-top-tekst{
    text-align: left;
    padding-top: 150px;
    width: 500px;
}
.prosjekt-linker{
    text-align: right;
    top: auto;
}
.prosjekt-prosjekter{
    width: 80%;
    padding: 20px;
    margin-top: 90px;
    margin-left: 10%;
    border-radius: 20px;
}
.prosjekt-defult-it-prosjekt{
    width: 300px;
}
.prosjekt-defult-design-prosjekt{
    width: 300px;

}




/*styling av tekst ligger under her*/
.bold-topp{
    font-family: serif;
    font-size: 60px;
}
.bold-under{
    font-weight: bold;
}




































/* Style the Image Used to Trigger the Modal */
#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
















/*
.boxtekst{
    margin: auto;
}

.toppbilde{
    background-image:url(bilder/ultra\ nert\ copy.JPG);
    background-size: cover;
    color: #ffffff;
    text-align: center;
}

.infobox1 {
    background-color: #ffffff;
    background-size: cover;
    
}
.infobox2 {
    background-color: #e7afaf;
}


.infoposition1{
    position: absolute;
    padding-left: 30px;
    
}

.button1 {
    background-color: #ffffff; /* Green */
   /* border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button1:hover{
    transition: 1.0s;
    background-color: hsl(226, 77%, 64%);
    
}

.slideshow-container {
    position: relative;
    max-width: 1000px;
    margin: auto;

    
}
  
.slide {
    display: none;
}
  
.fade {
    animation-name: fade;
    animation-duration: 2.5s;
}
  
@keyframes fade {
    from {opacity: 0.3}
    to {opacity: 4}
}
*/ 



