* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0c192c;
    overflow: hidden;
    color: aliceblue;
}

.container {
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.bubbles {
    display: flex;
    position: relative;
    z-index: 200;
}

.bubbles span {
    background-color: #7c69b2;
    border-radius: 50%;
    height: 30px;
    margin: 0 4px;
    position: relative;
    width: 30px;
    box-shadow: 0 0 0 50px #7c69b2, 0 0 50px #7c69b2, 0 0 100px #7c69b2;
    animation: animate var(--random-duration) linear infinite;
}



@keyframes animate {
    0% {
        transform: translateY(100vh) scale(3);
    }
}