body {
    text-align: center;

}


/*top nav styling ligger under her*/
.topnav {
    overflow: hidden;
    background-color: none;
    top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.topnav a {/* Style the links inside the navigation bar */
    float: left;
    display: block;
    color: rgb(192, 173, 173);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {/* Change the color of links on hover */
    background-color: #e8ad21;
    color: rgb(255, 255, 255);
    transition: 0.6s;
}
.topnav a.active {/* Style the "active" element to highlight the current page */
    background-color: chocolate;
    color: white;
}













.botnav {/* Place the navbar at the bottom of the page, and make it stick */
    background-color: rgb(216, 77, 95);
    overflow: hidden;
    bottom: 0;
    width: 100%;
    text-align: center ;
    padding-top: 30px;
    padding-bottom: 30px;
}
.botnav-icon1{/* Style the icons inside the botton navigation bar */
    padding: 20px ;
}
.botnav-icon2{/* Style the icons inside the botton navigation bar */
    padding: 0px 10px;
}
.botnav-p{
    font-family: Bungee;
    color:white;
}

/* meg styling ligger under her*/
.meg-top {
    display: flex;
    width: 100%;
    text-align: left;
}
.meg-topimg{
    width: 50%;
}
.meg-toptekst{
    width: 50%;
}
.stats{
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 10px;
    color: greenyellow;
    padding-bottom: 300px;
    width: 100%;
    display: flex;
}
.stats-knapp{
    background-color: black;
    color: greenyellow;
    padding: 20px;
    font-size: large;
    display: flex;
}
.stat{
    padding: 25px;
    font-size: 150%;
    
}
.stat-info{
    width: 50%;
}
.stat-gifs{
    width: 50%;
}
.stat:hover{
    background-color: greenyellow;
    color: black;

}
.stats-knapp:hover{
    background-color: greenyellow;
    color: black;
}

.background-prosent-bar{
    background-color: rgb(0, 0, 0);
    border-style: solid;
    border-width: 2px;
    border-color: green;
    border-radius: 1px;
    width: 100%; 
}
.prosent-bar{
    color: green;
    background-color: greenyellow;
}