


.navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #000000;
}
 
.navbar a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}
.textbox1 {
    background-color: #e69595;
}
.textbox2 {
    background-color: #e7afaf;
}


.textposition1{
    position: absolute;
    
}
.button{
    border: 1px solid rgb(43, 52, 51);
    width: max-content;
    text-align: center;
    background-color: aqua;
    color : solid black
}

